<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Tracking System</title>
</head>
<body>
    Mobile Tracking System
    <button><a href="/get-locations">Location on Map</a></button>
    <button><a href="/get-locations-java">Location String</a></button>
</body>
</html>